*{
  margin: 0;
  padding: 0;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: rgb(221, 221, 221);
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.loader {
  display: flex;
  position: absolute;
  background-color: rgba(3, 3, 3, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.load-progress {
  color: rgb(214, 214, 214);
  font-size: 3em;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.cl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
}
.cr {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
}

.ct {
  background-image: linear-gradient(to top, rgb(163, 46, 46), rgb(68, 22, 22));
}

.cb {
  background-image: linear-gradient(to top, rgb(114, 39, 39), rgb(46, 20, 20));
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.welcome {
  position: absolute;
  top: 30%;
  font-size: 3em;
}

.btn-container-effect {
  position: relative;
  display: inline-block;
  flex-direction: row;
  height: 6em;
  width: 6em;
  text-decoration: none;
  top: 6em;
}

.btn-effect {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  border: solid 2px #1fc709;
  background-color: rgba(66, 219, 35, 0.548);
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 6em;
}